@import url(https://fonts.googleapis.com/css?family=Kaushan+Script);
* {
  box-sizing: border-box; }

body {
  background: url(../images/pizzaStart.jpg) no-repeat center fixed;
  background-size: cover;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  margin: 0;
  padding: 0; }

a {
  text-decoration: none;
  list-style-type: none; }

ul {
  padding: 0;
  margin: 0;
  list-style-type: none; }

.smalbold {
  font-weight: 500; }

.margin-top {
  margin-top: 20px; }

header {
  background-color: white;
  position: fixed;
  top: 0;
  width: 100%; }
  header a {
    color: #000; }
  header h1 {
    font-family: 'Kaushan Script', cursive;
    font-size: 40px;
    margin: 0 0 3px 0; }
  header ul {
    float: right;
    margin-top: 13px; }
  header h1, header ul li {
    display: inline-block;
    font-weight: normal; }
  header li a {
    color: #000;
    font-size: 30px;
    margin: 5px 20px 0 20px;
    position: relative; }
    header li a:before {
      content: "";
      position: absolute;
      width: 100%;
      height: 2px;
      bottom: 0;
      left: 0;
      background-color: black;
      visibility: hidden;
      -webkit-transform: scaleX(0);
      -ms-transform: scaleX(0);
          transform: scaleX(0);
      -webkit-transition: all 0.3s ease-in-out 0s;
      transition: all 0.3s ease-in-out 0s; }
    header li a:hover:before {
      visibility: visible;
      -webkit-transform: scaleX(1);
      -ms-transform: scaleX(1);
          transform: scaleX(1); }

.wrapper {
  background-color: white;
  color: white;
  margin: auto;
  margin-top: 100px;
  max-width: 1024px;
  padding: 20px;
  width: 65%; }
  .wrapper h2 {
    font-size: 44px;
    margin: 0; }
  .wrapper p {
    font-size: 25px;
    font-weight: 500; }
  .wrapper li {
    text-align: center; }
  .wrapper a img {
    width: 100%;
    height: auto;
    margin-top: 5px; }
  .wrapper a p {
    color: white;
    display: inline-block;
    font-size: 25px;
    font-weight: 500;
    position: relative;
    margin: 0; }
    .wrapper a p:before {
      content: "";
      position: absolute;
      width: 100%;
      height: 2px;
      bottom: 0;
      left: 0;
      background-color: white;
      visibility: hidden;
      -webkit-transform: scaleX(0);
      -ms-transform: scaleX(0);
          transform: scaleX(0);
      -webkit-transition: all 0.3s ease-in-out 0s;
      transition: all 0.3s ease-in-out 0s; }
  .wrapper a:hover p:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    -ms-transform: scaleX(1);
        transform: scaleX(1); }

.main {
  background-color: rgba(51, 51, 51, 0.3);
  text-shadow: 1px 1px 1px #333; }

.sub {
  color: black; }
  .sub .arena {
    background: url(../images/Arena.jpg) no-repeat;
    height: 200px;
    background-size: cover; }
  .sub .dragon {
    background: url(../images/dragon.jpg) no-repeat;
    height: 200px;
    background-size: cover; }
  .sub .georges {
    background: url(../images/georges.jpg) no-repeat;
    height: 200px;
    background-size: cover; }
  .sub .vitavillan {
    background: url(../images/vitavillan.jpg) no-repeat;
    height: 200px;
    background-size: cover; }
  .sub .athena {
    background: url(../images/duharec.jpg) no-repeat;
    height: 200px;
    background-size: cover; }
  .sub li a {
    color: black;
    font-size: 25px;
    margin: 5px 20px 0 20px;
    position: relative; }
    .sub li a:before {
      content: "";
      position: absolute;
      width: 100%;
      height: 2px;
      bottom: 0;
      left: 0;
      background-color: black;
      visibility: hidden;
      -webkit-transform: scaleX(0);
      -ms-transform: scaleX(0);
          transform: scaleX(0);
      -webkit-transition: all 0.3s ease-in-out 0s;
      transition: all 0.3s ease-in-out 0s; }
    .sub li a:hover:before {
      visibility: visible;
      -webkit-transform: scaleX(1);
      -ms-transform: scaleX(1);
          transform: scaleX(1); }

#mapid {
  height: 40vh;
  max-height: 450px;
  min-height: 200px;
  margin: 20px 0 0 20px; }

.menu {
  color: black; }
  .menu .sortof {
    font-weight: bold; }
  .menu .toping {
    float: left;
    font-size: 14px;
    color: #333; }
  .menu .price {
    float: right; }
  .menu .menyh1 {
    text-align: center;
    margin-left: 20px; }
  .menu dl {
    margin-top: 20px; }
  .menu dd {
    margin: 0; }

.map {
  color: black; }
  .map #mapid {
    height: 60vh;
    max-height: 700px; }

@media (min-width: 701px) {
  .menu .menyh1:before {
    content: url(../images/itaFlagga.png);
    margin-right: 10px; }

  .menu .menyh1:after {
    content: url(../images/itaFlagga.png);
    margin-left: 10px; }

  .sub .img {
    height: 250px; } }
@media (max-width: 900px) and (min-width: 700px) {
  .wrapper p, .wrapper a p {
    font-size: 18px; }

  .wrapper {
    width: 75%; } }
@media (max-width: 700px) {
  .wrapper {
    width: 85%; } }
@media (max-width: 480px) {
  header h1 {
    font-size: 35px;
    text-align: center; }

  header li a {
    font-size: 18px; }

  .wrapper {
    width: 100%; } }

/*# sourceMappingURL=main.css.map */