@import 'colors'; //Alla sidans färgvärden
@import url(https://fonts.googleapis.com/css?family=Kaushan+Script); //Google fonts för loggan

* {
	box-sizing: border-box;
}
body {
	background: url(../images/pizzaStart.jpg) no-repeat center fixed;
	background-size: cover;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	margin: 0;
	padding: 0;
}

a {
	text-decoration:none;
	list-style-type:none;
}

ul {
	padding: 0;
	margin: 0;
	list-style-type:none;
}

.smalbold {
	font-weight: 500;
}

//Header
header {
		background-color:$white;
		position: fixed;
		top: 0;
		width: 100%;
	a {
		color:#000;
	}
	h1 {
		font-family: 'Kaushan Script', cursive;
		font-size: 40px;
		margin: 0 0 3px 0;
	}
	ul {
		float: right;
		margin-top: 13px;
	}
	h1, ul li{
		display:inline-block;
		font-weight: normal;
	}
	li a{
		color:#000;
		font-size: 30px;
		margin: 5px 20px 0 20px;
		position:relative;
	&:before {
		content: "";
		position: absolute;
		width: 100%;
		height: 2px;
		bottom: 0;
		left: 0;
		background-color: $black;
		visibility: hidden;
		-webkit-transform: scaleX(0);
		transform: scaleX(0);
		-webkit-transition: all 0.3s ease-in-out 0s;
		transition: all 0.3s ease-in-out 0s;
	}
	&:hover:before {
		visibility: visible;
		-webkit-transform: scaleX(1);
		transform: scaleX(1);
	}
}}


//Main content
//Wrapper är en global wrapper som används över hela sidan
.wrapper {
		background-color: $white;
		color: $white;
		margin:auto;
		margin-top: 110px;
		max-width: 1024px;
		padding:20px;
		width: 65%;
	h2 {
		font-size: 44px;
		margin: 0;
	}
	p {
		font-size: 25px;
		font-weight: 500;
	}
	li {
		text-align: center;
	}
	a img {
		width: 100%;
		height: auto;
		margin-top: 5px;
	}
	a p {
		color: $white;
		display: inline-block;
		font-size: 25px;
		font-weight: 500;
		position:relative;
		margin: 0;
	&:before {
		content: "";
		position: absolute;
		width: 100%;
		height: 2px;
		bottom: 0;
		left: 0;
		background-color: $white;
		visibility: hidden;
		-webkit-transform: scaleX(0);
		transform: scaleX(0);
		-webkit-transition: all 0.3s ease-in-out 0s;
		transition: all 0.3s ease-in-out 0s;
	}}
	a:hover p:before {
		visibility: visible;
		-webkit-transform: scaleX(1);
		transform: scaleX(1);
	}
}



//Main är en wrapper typ som används på startsidan.
.main {
	background-color: rgba(51,51,51,0.3);
	text-shadow: 1px 1px 1px #333;
}

//Subsidornas wrapper
.sub {
		color: $black;
	img {
		// height: 200px;
		margin: auto;
		margin-bottom: 20px;
	}
	.img {
		background: url(../images/arena.jpg) no-repeat  center fixed;
		height: 200px;
		margin-bottom: 20px;
	}
	li a{
		color:$black;
		font-size: 25px;
		margin: 5px 20px 0 20px;
		position:relative;
	&:before {
		content: "";
		position: absolute;
		width: 100%;
		height: 2px;
		bottom: 0;
		left: 0;
		background-color: $black;
		visibility: hidden;
		-webkit-transform: scaleX(0);
		transform: scaleX(0);
		-webkit-transition: all 0.3s ease-in-out 0s;
		transition: all 0.3s ease-in-out 0s;
	}
	&:hover:before {
		visibility: visible;
		-webkit-transform: scaleX(1);
		transform: scaleX(1);
	}
}}

#mapid {
	height: 40vh;
	max-height: 450px;
	min-height:200;
	margin: 20px 0 0 20px;
}

.menu {
		color: $black;
	.sortof {
		font-weight: bold;
	}
	.toping {
		float: left;
		font-size: 14px;
		color: #333;
	}
	.price {
		float: right;
	}
	h1 {
		text-align: center;
		margin-left: 20px;
	}
	dd {
		margin: 0;
	}
}

@media (min-width: 700px) {
	.menu h1:before {
		content: "====";
	}
	.menu h1:after {
		content: "====";
	}
}

@media (max-width: 900px) and (min-width: 700px){
	.wrapper p, .wrapper a p {
		font-size: 18px;
	}
	.wrapper {
		width: 75%;
	}
}

@media (max-width: 700px) {
	.wrapper {
		width: 85%;
	}
}

@media (max-width: 480px) {
	header h1 {
		font-size: 35px;
		text-align: center;
	}
	header li a {
		font-size: 18px;
	}
	.wrapper {
		width: 100%;
	}
}
// Toast grid
@import 'grid';
