@import 'colors'; //Alla sidans färgvärden
@import url(https://fonts.googleapis.com/css?family=Kaushan+Script); //Google fonts för loggan

body {
	background: url(../images/pizzaStart.jpg) no-repeat center center fixed;
	background-size: cover;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	margin: 0;
	padding: 0;
}

a {
	color:#000;
	text-decoration:none;
}

//Header
header {
		background-color:#FFF;
		box-sizing: border-box;
	h1 {
		font-family: 'Kaushan Script', cursive;
		font-size: 40px;
		margin: 0 0 3px 0;
	}
	ul {
		float: right;
		margin: 0;
		margin-top: 13px;
		padding: 0
	}
	h1, ul li{
		display:inline-block;
		font-weight: normal;
	}
	li a{
		color:#000;
		font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
		font-size: 30px;
		margin: 5px 20px 0 20px;
		position:relative;
		text-decoration:none;
	&:before {
		content: "";
		position: absolute;
		width: 100%;
		height: 2px;
		bottom: 0;
		left: 0;
		background-color: #000;
		visibility: hidden;
		-webkit-transform: scaleX(0);
		transform: scaleX(0);
		-webkit-transition: all 0.3s ease-in-out 0s;
		transition: all 0.3s ease-in-out 0s;
	}
	&:hover:before {
		visibility: visible;
		-webkit-transform: scaleX(1);
		transform: scaleX(1);
	}
}}


//Main content
.wrapper {
		width: 65%;
		max-width: 1024px;
		margin:auto;
		color: #fff;
		text-shadow: 1px 1px 1px #333;
	h1 {
		font-size: 65px;
	}
	p {
		font-size: 20px;
		font-weight: 500;
	}
}



// Toast grid 
@import 'grid';